.floating_navigation {
	width: 100%;
	position: fixed;
	top:0;
	height: 4rem;
	background-color: rgba(255, 255, 255, 0.8);
	min-width: 700px;
	z-index: 9999;
}

.floating_navigation > ul {
	list-style: none;
	width: 50%;
	height: 100%;
	text-align: center;
	vertical-align: center;
	margin: 0 auto;
}

.floating_navigation > ul > li {
	float: right;
	width: 33.33%;
}

.links {
	display: inline-block;
	height: 1rem;
	padding-top: 12px;
	color: black;
	padding: .5rem;
	opacity:.8;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 0px;
	cursor: pointer;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin-top: -15px;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

#reposition-contact {
	margin-top: 2px;
}

.sliding-middle-out:hover:after {
	width: 100%;
	background: black;
}

.links_font {
	font-family: 'neuton';
	font-size: 1.1em;
	display: inline-block;
}

.links:hover {
	cursor: pointer;
	width: 100px;
}

.introduction {
	background: url(../img/coffee.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 40.75rem;
	margin-top: 4rem;
}

a {
	text-decoration: none;
	color: none;	
}

.content {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.intro_h1 {
	color: 	white;
	display: inline-block;
	margin-top: 4rem;
	padding-top: 12rem;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: 'neuton';
	font-weight: 700;
	font-size: 3.5em;
	width: 240px;
}

.intro_p {
	color: 	white;
	display: inline-block;
	margin-top: 4rem;
	padding-right: 4px;
	padding-top: 12rem;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: 'neuton';
	font-weight: 700;
	font-size: 3.5em;
	width: 5px;
}

.intro_h3 {
	font-family: goudy old style;
	font-size: 1.2em;
	color: white;
	margin-top: 0;
	padding-top: 0;
}

.down_arrow {
	color: white;
	border: solid 1px white;
	margin-top: 15rem;
	padding-top: 17px;	
	height: 2rem;
	width: 3.1rem;
	border-radius: 2rem;
}

.down_arrow:hover {
	
}

.line_one {
	margin-top: 7rem;
	min-width: 1150px;
}

.line_two {
	margin-top: 3rem;
	margin-bottom: 10rem;
	min-width: 1150px;
}

.box {
	border: solid 1px black;
	height: 20rem;
	width: 20rem;
	display: inline-block;
	margin-right: 2.5%;
	margin-left: 2.5%;
	border-radius: 1rem;
	background: url(../img/tiger.jpg) no-repeat center center;
	background-size: cover;
	opacity:.4;
}

.box:hover {
	background-size: cover;
	opacity: 1;
	transform: scale(1.08, 1.08);
 	-moz-transform: scale(1.08, 1.08);
	-ms-transform: scale(1.08, 1.08);
	-webkit-transform: scale(1.08, 1.08);
	-o-transform: scale(1.08, 1.08);
}

#box_one {
	background: url(../img/karma.jpg) no-repeat center center;
	background-size: cover;
}

.logo {
	margin-top: 8rem;
	color: white;
	width: 4rem;
	opacity: 1;
}

#active {
	opacity:1;
}

.work_h1 {
	color: black;
	display: inline-block;
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8rem;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: 'neuton';
	font-weight: 700;
	font-size: 3em;
	letter-spacing: 3px;
	opacity: .8;
}

.work_p {
	color: 	black;
	width: 5px;
	display: inline-block;
	margin-top: 8rem;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: 'neuton';
	font-weight: 700;
	font-size: 3em;
	padding-right: 16px;
	opacity: .8;
}

.caption {
	opacity: .8;
	padding-top: 21.5rem;
	font-family: goudy old style;
	font-size: 1.1rem;
	color: black;
}

#position_social {
   	float: center;
   	list-style-type: none;
   	display: inline-block;
   }

 .social_icons {
	display: inline-block;
	list-style-type: none;
	padding-left: 0px;
 	width: 200px;
 	display: inline-block;
 	margin-top: 0px;
 }

 #twitter {
 	color: #55acee;
 	margin-top: 13px;
 }

  #facebook {
 	color: #3f729b;
 	margin-top: 13px;
 }

  #instagram {
 	color: #3f729b;
 	margin-top: 13px;
 	z-index: 9998;
 	opacity: 1;
 }


 .container {
 	border: 1px solid black;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	vertical-align: center;
	cursor: pointer; 
 }

 .container:hover {
 	border: 1px solid black;
 	background-color: black;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	vertical-align: center;
	cursor: pointer;
	opacity: .8;
}

.link_format {
	text-decoration: none;
	color: black;
}